.form-control {
    margin-right: 12px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #223bc7;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer
}