<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-around align-items-center">
        <div class="col-xl-5 col-lg-5 col-md-4 d-none d-md-block">
            <img class="img-fluid" src="assets/images/otp.svg" alt="">
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mx-auto">
            <div class="card card-body shadow-sm">
                <img src="assets/images/logo.svg" class="rounded mx-auto" alt="Essdee">
                <h5 class="text-center" *ngIf="!is_otp_sent">Verify Mobile Number</h5>
                <h5 class="text-center" *ngIf="is_otp_sent">Enter the code sent to {{mobileForm.value['mobile_number']}} </h5>

                <form class="mt-3" [formGroup]="mobileForm" (submit)="sendOtp()" ngNativeValidate *ngIf="!is_otp_sent">
                    <div class="form-group">
                        <label for="mobile_no">Mobile No</label>
                        <input type="text" name="mobile_no" id="mobileno" class="form-control" maxlength="10" required formControlName="mobile_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" autofocus />
                    </div>
                    <button class="btn btn-primary btn-block my-3" type="submit" style="padding-top: 2px;" [disabled]="isSendOtpClicked">
                      <i class="fa fa-spinner fa-spin" style="margin-left: -12px; margin-right: 8px;" *ngIf="isSendOtpClicked"></i>
                      Send OTP
                    </button>
                </form>

                <form class="mt-3" [formGroup]="otpForm" ngNativeValidate *ngIf="is_otp_sent">
                    <div class="row">
                        <div class="col" *ngFor="let input of formInput;  index as i">
                            <input #formRow type="text" formControlName="{{input}}" class="form-control text-center" maxlength="1" (keyup)="keyUpEvent($event, i)" (keydown)="keyDownEvent($event, i)">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block my-3" style="padding-top: 2px;" [disabled]="isVerifyOtpClicked" (click)="verifyOtp()" *ngIf="is_otp_sent == true">
                      <i class="fa fa-spinner fa-spin" style="margin-left: -12px; margin-right: 8px;" *ngIf="isVerifyOtpClicked"></i>
                      Verify OTP
                    </button>

                    <div style="text-align: center;">
                        <button class="btn btn-primary btn-block mb-3 " style="padding-top: 2px;" [disabled]="isReSendOtpClicked" (click)="resendOtp()" *ngIf="timerOn == false">
                        <i class="fa fa-spinner fa-spin" style="margin-left: -12px; margin-right: 8px;" *ngIf="isReSendOtpClicked"></i>
                        Resend OTP
                      </button>
                    </div>
                </form>
                <h6 class="text-center" *ngIf="timerOn == true && is_otp_sent == true"> Resend OTP in {{timeLeft}} seconds</h6>
            </div>
        </div>
    </div>
</div>