<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bg-white pb-5">
    <div class="row d-flex justify-content-start align-items-center mt-sm-5">
        <div class="col-lg-5 col-10">
            <div class="pb-5"> <img src="assets/images/auth.svg" alt="" style="width: 500px;
              height: 500px"> </div>
        </div>
        <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
            <div class="mt-3 mt-md-5">
              <img src="assets/images/logo.svg" class="rounded mx-auto d-block" alt="...">
                <h5 class="text-center">Set New Password</h5>
                <form class="pt-4" ngNativeValidate #form>
                  <label for="password1" *ngIf="showPassword1">New Password</label>
                  <div *ngIf="password1 && showPassword1">
                    <span
                    (click)="toggleShowPassword1()"
                    class="fa fa-eye-slash" style="float: right;"></span>
                  </div>
                    <div class="d-flex flex-column pb-3" *ngIf="showPassword1">
                    <input type="text" name="password1" id="pwd1" class="border-bottom border-primary" [(ngModel)]="password1" required autofocus> 
                  </div>
                  <label for="password1" *ngIf="!showPassword1">New Password</label>
                  <div *ngIf="password1 && !showPassword1">
                    <span 
                    (click)="toggleShowPassword1()"
                    class="fa fa-eye" style="float: right;"></span>
                  </div>
                    <div class="d-flex flex-column pb-3" *ngIf="!showPassword1">
                    <input type="password" name="password1" id="pwd1" class="border-bottom border-primary" [(ngModel)]="password1" required autofocus> 
                  </div>

                  <label for="password2" *ngIf="showPassword2">Confirm Password</label>
                  <div *ngIf="password2 && showPassword2">
                    <span
                    (click)="toggleShowPassword2()"
                    class="fa fa-eye-slash" style="float: right;"></span>
                  </div>
                    <div class="d-flex flex-column pb-3" *ngIf="showPassword2">
                    <input type="text" name="password2" id="pwd2" class="border-bottom border-primary" [(ngModel)]="password2" required autofocus> 
                  </div>
                  <label for="password2" *ngIf="!showPassword2">Confirm Password</label>
                  <div *ngIf="password2 && !showPassword2">
                    <span 
                    (click)="toggleShowPassword2()"
                    class="fa fa-eye" style="float: right;"></span>
                  </div>
                    <div class="d-flex flex-column pb-3" *ngIf="!showPassword2">
                    <input type="password" name="password2" id="pwd2" class="border-bottom border-primary" [(ngModel)]="password2" required autofocus> 
                  </div>
                    <button class="btn btn-primary btn-block mb-3" [disabled]="isButtonClicked" (click)="form.checkValidity()? setPassword() : null">
                      <i class="fa fa-spinner fa-spin" style = "margin-left: -12px;
                      margin-right: 8px;" *ngIf="isButtonClicked"></i>Update Password
                    </button>
                </form>
            </div>
        </div>
    </div>
  </div>