<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-around align-items-center">
        <div class="col-xl-5 col-lg-5 col-md-4 d-none d-md-block">
            <img class="img-fluid" src="assets/images/auth.svg">
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mx-auto">
            <div class="card card-body shadow-sm">
                <img src="assets/images/logo.svg" class="rounded mx-auto" alt="Essdee">
                <h5 class="text-center">Set New Password</h5>
                <form class="pt-4" [formGroup]="setpassForm" ngNativeValidate>

                    <div class="form-group">
                        <label for="password1">New Password</label>
                        <div class="input-group">
                            <input [type]="showPassword1? 'text' : 'password'" name="password1" id="pwd1" class="form-control" formControlName="password" required autofocus>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="toggleShowPassword1()" tabindex="-1">
                                    <i class="fa" [ngClass]="{ 'fa-eye-slash': !showPassword1, 'fa-eye': showPassword1 }"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <div class="input-group">
                            <input [type]="showPassword2? 'text' : 'password'" name="password2" id="pwd2" class="form-control" formControlName="confirmPassword" required autofocus>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="toggleShowPassword2()" tabindex="-1">
                                    <i class="fa" [ngClass]="{ 'fa-eye-slash': !showPassword2, 'fa-eye': showPassword2 }"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="setpassForm.controls.confirmPassword.touched && setpassForm.invalid" class="text-danger">
                            <div *ngIf="setpassForm.hasError('mismatch')">
                                Password doesn't match
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block mb-3" [disabled]="isButtonClicked" (click)="setPassword()">
                      <i class="fa fa-spinner fa-spin" style = "margin-left: -12px; margin-right: 8px;" *ngIf="isButtonClicked"></i>
                      Update Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>