<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container bg-light pb-5">
    <div class="row d-flex justify-content-start align-items-center mt-sm-5">
        <div class="col-lg-5 col-10">
            <div class="pb-5"> <img src="assets/images/landing.svg" alt="" style="width: 500px;
            height: 500px"> </div>
        </div>
        <div class="col-lg-4 offset-lg-2 col-md-6 offset-md-3">
            <div class="mt-3 mt-md-5">
                <img src="assets/images/logo.svg" class="rounded mx-auto d-block" alt="...">
                <h5 class="text-center">Welcome to Essdee</h5>
                <form class="pt-4" ngNativeValidate #form>
                    <div class="d-flex flex-column pb-3"> <label for="mobile_no">Mobile No</label> <input type="text" name="mobile_no" id="mobileno" class="border-bottom border-primary bg-light" maxlength="10" [(ngModel)]="mobileNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            required autofocus> </div>
                    <label for="password" *ngIf="showPassword">Password</label>

                    <div *ngIf="password && showPassword">
                        <span (click)="toggleShowPassword()" class="fa fa-eye-slash" style="float: right;"></span>
                    </div>
                    <div class="d-flex flex-column pb-3" *ngIf="showPassword">
                        <input type="text" name="password" id="pwd" class="border-bottom border-primary" [(ngModel)]="password" required autofocus>
                    </div>
                    <label for="password" *ngIf="!showPassword">Password</label>
                    <div *ngIf="password && !showPassword">
                        <span (click)="toggleShowPassword()" class="fa fa-eye" style="float: right;"></span>
                    </div>
                    <div class="d-flex flex-column pb-3" *ngIf="!showPassword">
                        <input type="password" name="password" id="pwd" class="border-bottom border-primary bg-light" [(ngModel)]="password" required autofocus>
                    </div>
                    <button class="btn btn-primary btn-block mb-3" [disabled]="isLoginClicked" (click)="form.checkValidity()? verifyUser() : null">
                    <i class="fa fa-spinner fa-spin" style = "margin-left: -12px;
                    margin-right: 8px;" *ngIf="isLoginClicked"></i>Log in
                  </button>
                    <div class="register mt-5">
                        <a routerLink="/auth/otp">Set new password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>